@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-beige-500: oklch(0.95 0.03 85);
  /* #ffe8c9 */
  --color-bordeaux-500: oklch(0.43 0.25 24);
  /* #a41624 */
  --color-orangeclair-500: oklch(0.85 0.15 65);
  /* #ffb564 */
  --color-orangedark-500: oklch(0.72 0.22 50);
  /* #d9571d */

  --color-background: var(--color-beige-500);
  --color-primary: var(--color-bordeaux-500);
  --color-secondary: var(--color-orangeclair-500);
  --color-accent: var(--color-orangedark-500);

  --color-text-primary: oklch(0.1 0 0);
  /* Presque noir */
  --color-text-light: oklch(1 0 0);
  /* Blanc */
}

